@charset "utf-8"

@import 'theme/colors'
@import 'theme/utils'

*
    box-sizing: border-box

html,
body
    margin: 0
    padding: 0

html
    min-height: 100%

body
    position: relative
    min-height: 100vh
    color: #333
    font-weight: 400

    background-color: $white

#page-wrapper
    min-height: 100%

.card
    background-color: white
    padding: 15px
    margin-bottom: 15px
    box-shadow: 1px 1px 1px rgba($gray, 0.35)

.btn
    margin-bottom: 10px
    padding: 12px 15px

    font-family: 'Source Sans Pro', sans-serif
    font-weight: bold
    font-size: 2rem
    text-decoration: none

    background-color: $gray
    color: $white

    outline: none
    border: none
    cursor: pointer

    transition: all .25s ease

    &:hover
        background-color: darken($gray, 5%)

.btn-block
    display: block
    width: 100%
    text-align: center

.orange-text
    color: $dark-orange

.modal-close
    font-size: 3.6rem
    line-height: .7

@import 'theme/nav'

@import 'theme/home'

.container
    padding: 25px
    // background-color: white


footer,
#footer,
.footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    border-top: 1px solid $gray


//  ============
//  THE TEN PAGE
//  ============

#the-ten
    .container
        background-color: transparent

    .person
        background-color: white
        padding: 15px 30px
        margin: 15px 0

        @media screen and (min-width: 768px)
            padding: 15px

        .name
            font-weight: bold
            font-size: 2.2rem
            color: $dark-orange
        .role
            font-size: 1.8rem
            color: lighten($gray, 25%)
            font-style: italic
        .born
            font-size: 1.6rem

        .info
            width: 100%
            display: inline-block
            text-align: center

            @media screen and (min-width: 768px)
                width: auto
                margin-left: 0
                transform: none
                text-align: left

    .headshot
        float: none
        display: block
        margin: 0 auto

        @media screen and (min-width: 768px)
            float: left
            margin-right: 10px

//  ========================
//  SCHOLARSHIP WINNERS PAGE
//  ========================

.scholarship-winner

    .headshot
        display: block
        float: none
        margin: 0 auto
        border-radius: 2px
        height: 220px
        width: auto

        overflow: hidden

        @media screen and (min-width: 768px)
            display: inline-block
            float: left
            margin: 15px

        @media screen and (min-width: 992px)
            display: block
            float: none
            margin: 0 auto

        &.placeholder
            width: 200px
            background-color: $orange

    .name
        text-align: center

        @media screen and (min-width: 768px)
            text-align: left
        @media screen and (min-width: 992px)
            text-align: center

    .btn
        padding: 5px 12px
        background-color: white
        color: $gray
        border: 1px solid $gray

        transition: all .15s ease

        &:hover
            color: $white
            background-color: $gray

.scholarship-modal
    .headshot
        margin: 20px
        box-shadow: 1px 1px 1px rgba($gray, .35)
        max-width: 95%
        display: block
        margin: 0 auto
    p
        font-size: 1.8rem
        line-height: 1.3
