

#nav
    position: relative
    display: block
    width: 100%
    background-color: white

    &.sticky
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0

    ul
        display: block
        margin: 0 auto
        padding: 0

    .nav-item
        padding: 10px 15px
        display: inline-block

        color: $gray
        font-family: 'Open Sans', san-serif
        font-size: 1.8rem
        text-decoration: none

        transition: all .3s ease-in-out

        &:hover
            font-size: 2rem
            font-weight: bold

        &.center
            color: $orange
            font-weight: 700
            font-size: 2.4rem
            text-transform: uppercase

            &:hover
                font-size: 2.4rem



#nav-banner
    background-color: $gray
    color: $white
    font-size: 1.8rem

    .banner-item
        display: inline-block
        color: $white
        text-decoration: none
        padding: 10px 12px

        &.center
            font-size: 2.2rem
            font-weight: 300
